<!DOCTYPE html>
<html lang="en" class="">
  <head>
    <title><%= @raml.title %></title>
  </head>
  <body>
    <div class="container">
      <h1>
        <%= @raml.title %>
        <small>Version <%= @raml.version %></small>
      </h1>

      <% @raml.resources.each do |_, resource| %>
        <h2 id="<%= resource.resource_path_name %>" class="page-header">
          <i class="fa fa-universal-access" aria-hidden="true"></i>
          <%= resource.name %>
        </h2>
        <p class="lead">
          <%= resource.description %>
        </p>
        <% resource.methods.each do |_, method| %>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">
                <kbd><%= method.name.upcase %></kbd>
                <a class="text-muted" href="<%= @raml.base_uri + resource.resource_path %>">
                  <%= @raml.base_uri + resource.resource_path %>
                </a>
                <div class="pull-right">
                  <span class="label label-default"><%= @raml.media_type %></span>
                </div>
              </h3>
            </div>
            <div class="panel-body">
              <h4>Querystring Parameters</h4>
              <ul>
              <% method.query_parameters.each do |_, parameter| %>
                <li>
                  <var><%= parameter.name %></var>
                  &nbsp;&mdash;
                  <span class="<%= parameter.required ? "text-danger" : nil %>"><%= parameter.description %></span>
                </li>
              <% end %>
              </ul>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <style type="text/css" rel="stylesheet">
      @import url(https://fonts.googleapis.com/css?family=Raleway:600|Merriweather);
      h1, h2, h3, h4, h5, h6 { font-family: "Raleway", sans-serif; }
      p, div { font-family: "Merriweather", serif; }
      code, pre, kbd, var { font-family: monospace; }
    </style>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/ff1f204224.js"></script>
  </body>
</html>
