<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"
      id="<%= [@method.name, @resource.resource_path_name].join "-" %>"
      title="#<%= [@method.name, @resource.resource_path_name].join "-" %>"
      data-toggle="tooltip" data-position="top" data-trigger="click">
      <a class="btn <%= method_boostrap_btn_css_class @method %>"
        data-toggle="tooltip" data-placement="top" title="HTTP Request Method"
        href="https://en.wikipedia.org/wiki/Hypertext_Transfer_Protocol#Request_methods">
        <%= @method.name.upcase %>
      </a>
      <%= raml.base_uri + @resource.resource_path %>
    </h3>
  </div>
  <div class="panel-body">
    <div>
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
          <a href="#<%= method_element_id @method, "description" %>" aria-controls="home" role="tab" data-toggle="tab">
            Description
          </a>
        </li>
        <% if present? @method.headers %>
          <li role="presentation">
            <a href="#<%= method_element_id @method, "request-headers" %>" aria-controls="home" role="tab" data-toggle="tab">
              Request Headers
            </a>
          </li>
        <% end %>
        <% if present? @method.query_parameters %>
          <li role="presentation">
            <a href="#<%= method_element_id @method, "querystring-parameters" %>" aria-controls="profile" role="tab" data-toggle="tab">
              Querystring Parameters
            </a>
          </li>
        <% end %>
        <% if present? @method.bodies %>
          <li role="presentation">
            <a href="#<%= method_element_id @method, "request-bodies" %>" aria-controls="home" role="tab" data-toggle="tab">
              Request Bodies
            </a>
          </li>
        <% end %>
        <% if present? @method.responses %>
          <li role="presentation">
            <a href="#<%= method_element_id @method, "responses" %>" aria-controls="home" role="tab" data-toggle="tab">
              Responses
            </a>
          </li>
        <% end %>
        <li role="presentation">
          <a href="#<%= method_element_id @method, "examples" %>" aria-controls="home" role="tab" data-toggle="tab">
            Examples
          </a>
        </li>
      </ul>

      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="<%= method_element_id @method, "description" %>">
          <br>
          <p>
            <%= markdown @method.description %>
          </p>
        </div>
        <div role="tabpanel" class="tab-pane" id="<%= method_element_id @method, "request-headers" %>">
          <br>
          <p>...</p>
        </div>
        <div role="tabpanel" class="tab-pane" id="<%= method_element_id @method, "querystring-parameters" %>">
          <br>
          <p>
            <table class="table table-bordered table-hover">
              <tr>
                <th></th>
                <th>Required</th>
                <th>Name</th>
                <th>Description</th>
                <th>Example</th>
              </tr>
              <%= render_partial "parameter", collection: @method.query_parameters.map(&:last) %>
            </table>
          </p>
        </div>
        <div role="tabpanel" class="tab-pane" id="<%= method_element_id @method, "request-bodies" %>">
          <br>
          <p>
            <%= render_partial "body", collection: @method.bodies.map(&:last) %>
          </p>
        </div>
        <div role="tabpanel" class="tab-pane" id="<%= method_element_id @method, "responses" %>">
          <br>
          <p>...</p>
        </div>
        <div role="tabpanel" class="tab-pane" id="<%= method_element_id @method, "examples" %>">
          <br>
          <% if present? @method.bodies %>
            <% @method.bodies.each do |_, body| %>
              <p>
                <pre>curl -X <%= @method.name.upcase %> --data '<%= method_querystring_example body.form_parameters %>' <%= method_uri_example @method %></pre>
              </p>
            <% end %>
          <% else %>
            <p>
              <pre>curl -X <%= @method.name.upcase %> <%= method_uri_example @method %></pre>
            </p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
