<br>
<br>
<br>
<br>
<br>
<br>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h2 id="<%= @resource.resource_path_name %>"
      title="#<%= @resource.resource_path_name %>" data-toggle="tooltip" data-placement="top" data-trigger="click">
      <i class="fa fa-external-link-square" aria-hidden="true"></i>
      <%= @resource.name %>
    </h2>
  </div>
  <div class="panel-body">
    <% if present? @resource.description %>
      <div class="jumbotron">
        <p class="lead">
          <%= markdown @resource.description %>
        </p>
      </div>
    <% end %>
    <br>
    <%= render_partial "method", collection: @resource.methods.map(&:last) %>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
