<!DOCTYPE html>
<html lang="en" class="">
  <head>
    <title><%= @raml.title %></title>
  </head>
  <body>
    <div class="container">
      <h1>
        <%= @raml.title %>
        <small>Version <%= @raml.version %></small>
      </h1>

      <% @raml.resources.each do |_, resource| %>
        <h2 id="<%= resource.resource_path_name %>">
          <i class="fa fa-external-link-square" aria-hidden="true"></i>
          <%= resource.name %>
        </h2>
        <p class="lead">
          <%= resource.description %>
        </p>
        <% resource.methods.each do |_, method| %>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">
                <span class="label <%= method_boostrap_label_css_class method %>"><%= method.name %></span>
                <a class="text-muted" href="<%= @raml.base_uri + resource.resource_path %>">
                  <%= @raml.base_uri + resource.resource_path %>
                </a>
                <small class="pull-right">
                  <var><%= @raml.media_type %></var>
                </small>
              </h3>
            </div>
            <div class="panel-body">
              <div>
                <ul class="nav nav-tabs" role="tablist">
                  <li role="presentation" class="active">
                    <a href="#<%= method_element_id method, "description" %>" aria-controls="home" role="tab" data-toggle="tab">
                      Description
                    </a>
                  </li>
                  <% if present? method.headers %>
                    <li role="presentation">
                      <a href="#<%= method_element_id method, "request-headers" %>" aria-controls="home" role="tab" data-toggle="tab">
                        Request Headers
                      </a>
                    </li>
                  <% end %>
                  <% if present? method.query_parameters %>
                    <li role="presentation">
                      <a href="#<%= method_element_id method, "querystring-parameters" %>" aria-controls="profile" role="tab" data-toggle="tab">
                        Querystring Parameters
                      </a>
                    </li>
                  <% end %>
                  <% if present? method.bodies %>
                    <li role="presentation">
                      <a href="#<%= method_element_id method, "request-bodies" %>" aria-controls="home" role="tab" data-toggle="tab">
                        Request Bodies
                      </a>
                    </li>
                  <% end %>
                  <% if present? method.responses %>
                    <li role="presentation">
                      <a href="#<%= method_element_id method, "responses" %>" aria-controls="home" role="tab" data-toggle="tab">
                        Responses
                      </a>
                    </li>
                  <% end %>
                  <li role="presentation">
                    <a href="#<%= method_element_id method, "examples" %>" aria-controls="home" role="tab" data-toggle="tab">
                      Examples
                    </a>
                  </li>
                </ul>

                <div class="tab-content">
                  <div role="tabpanel" class="tab-pane active" id="<%= method_element_id method, "description" %>">
                    <h3>
                      <i class="fa fa-info-circle" aria-hidden="true"></i>
                      Description
                    </h3>
                    <%= markdown method.description %>
                  </div>
                  <div role="tabpanel" class="tab-pane" id="<%= method_element_id method, "request-headers" %>">
                    <h3>
                      <i class="fa fa-info-circle" aria-hidden="true"></i>
                      Request Headers
                    </h3>
                    <p>...</p>
                  </div>
                  <div role="tabpanel" class="tab-pane" id="<%= method_element_id method, "querystring-parameters" %>">
                    <h3>
                      <i class="fa fa-info-circle" aria-hidden="true"></i>
                      Querystring Parameters
                    </h3>
                    <p>
                      <ul>
                      <% method.query_parameters.each do |_, parameter| %>
                        <li>
                          <var>
                            <strong><%= parameter.name %></strong>
                            <% if parameter.required %>
                              <span class="label label-danger">required</span>
                            <% end %>
                          </var>
                          <% if parameter.example %>
                            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                            <code><%= parameter.example %></code>
                          <% end %>
                          <p><small><%= markdown parameter.description %></small></p>
                        </li>
                      <% end %>
                      </ul>
                    </p>
                  </div>
                  <div role="tabpanel" class="tab-pane" id="<%= method_element_id method, "request-bodies" %>">
                    <h3>
                      <i class="fa fa-info-circle" aria-hidden="true"></i>
                      Request Bodies
                    </h3>
                    <% method.bodies.each do |_, body| %>
                      <h4>Body</h4>
                      <h5>Form Parameters</h5>
                      <p>
                        <ul>
                        <% body.form_parameters.each do |_, parameter| %>
                          <li>
                            <var>
                              <strong><%= parameter.name %></strong>
                              <% if parameter.required %>
                                <span class="label label-danger">required</span>
                              <% end %>
                            </var>
                            <% if parameter.example %>
                              <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                              <code><%= parameter.example %></code>
                            <% end %>
                            <p><small><%= markdown parameter.description %></small></p>
                          </li>
                        <% end %>
                        </ul>
                      </p>
                    <% end %>
                  </div>
                  <div role="tabpanel" class="tab-pane" id="<%= method_element_id method, "responses" %>">
                    <h3>
                      <i class="fa fa-info-circle" aria-hidden="true"></i>
                      Responses
                    </h3>
                    <p>...</p>
                  </div>
                  <div role="tabpanel" class="tab-pane" id="<%= method_element_id method, "examples" %>">
                    <h3>
                      <i class="fa fa-info-circle" aria-hidden="true"></i>
                      Examples
                    </h3>
                    <% if present? method.bodies %>
                      <% method.bodies.each do |_, body| %>
                        <p>
                          <pre>curl -X <%= method.name.upcase %> --data '<%= method_querystring_example body.form_parameters %>' <%= method_uri_example method %></pre>
                        </p>
                      <% end %>
                    <% else %>
                      <p>
                        <pre>curl -X <%= method.name.upcase %> <%= method_uri_example method %></pre>
                      </p>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <footer class="footer">
      <div class="container">
        <hr>
        <p class="pull-right text-muted">
          Created with
          <a href="http://raml.org/">RAML&#8482;</a>
          /
          <a href="https://github.com/hopsoft/raml_doc">RAML Doc</a>
        </p>
      </div>
    </footer>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <style type="text/css" rel="stylesheet">
      @import url(https://fonts.googleapis.com/css?family=Raleway:600|Merriweather);
      h1, h2, h3, h4, h5, h6 { font-family: "Raleway", sans-serif; }
      h2 { margin-top: 40px; }
      h3 { margin-top: 20px; margin-bottom: 20px; }
      p, div { font-family: "Merriweather", serif; }
      code, pre, kbd, var { font-family: monospace; }
      pre { white-space: pre-wrap; word-wrap: break-word; }
      .panel { margin-left: 30px; }
    </style>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/ff1f204224.js"></script>
  </body>
</html>
